---
title: Template
description: GOV.UK Images
section: Styles
layout: layout-pane.njk
---

{% from "_example.njk" import example %}

You should use this template to keep your pages consistent with the rest of GOV.UK.

Template combines the boilerplate markup and [components](../../components) needed for a basic GOV.UK page, it includes:

- JavaScript that adds a `.js-enabled` class, which is required by components with JavaScript behaviour.
- [Skip link](../../components/skip-link) component
- [Header](../../components/header) component
- [Footer](../../components/footer) component
- favicon, and other related theme icons

In the examples provided, we show both HTML and Nunjucks.

You can use the HTML examples if you aren't able to use Nunjucks. You will need to update manually when new versions are released.

If you are using Nunjucks you can use the template provided in GOV.UK Frontend, you'll get updates to the Template when we release them.

## Default

This example shows the minimum required for a GOV.UK page.

{{ example({group: 'styles', item: 'template', example: 'default', customCode: true, html: true, nunjucks: true, open: false }) }}

## Customised defaults

This example shows how to change the defaults.

{{ example({group: 'styles', item: 'template', example: 'custom', customCode: true, html: true, nunjucks: true, open: false }) }}

## Nunjucks


### Configuring Nunjucks

When using Nunjucks you'll need to add `node_modules/govuk-frontend/` as an available view:

```
nunjucks.configure('node_modules/govuk-frontend/', {
  autoescape: true
})
```

See the [Nunjucks getting started guide](https://mozilla.github.io/nunjucks/getting-started.html) for more information.

Once you have configured Nunjucks, you can now extend `template.njk` in your page, see the examples below.

### Changing template content

The Nunjucks template allows two ways to change the content, [variables](https://mozilla.github.io/nunjucks/templating.html#set) or [blocks](https://mozilla.github.io/nunjucks/templating.html#block).

The main difference between a variable and a block is that blocks can contain markup.

#### Variables

Variables can be set with:

```js
{% raw %}
{% set variableName = 'test' %}
{% endraw %}
```

<table class="govuk-table app-table--constrained">
  <caption class="govuk-table__caption govuk-visually-hidden">Variables that can be used with Template</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="col">Variable name</th>
      <th class="govuk-table__header" scope="col">Description</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">

    <tr class="govuk-table__row">
      <td class="govuk-table__cell">htmlLang</td>
      <td class="govuk-table__cell">Set the language of the document.</td>
    </tr>

    <tr class="govuk-table__row">
      <td class="govuk-table__cell">htmlClasses</td>
      <td class="govuk-table__cell">Add a class to the <code>&lt;html&gt;</code> element.</td>
    </tr>

    <tr class="govuk-table__row">
      <td class="govuk-table__cell">themeColor</td>
      <td class="govuk-table__cell">
        Set the <a href="https://developers.google.com/web/updates/2014/11/Support-for-theme-color-in-Chrome-39-for-Android">toolbar colour on some devices</a>
      </td>
    </tr>

    <tr class="govuk-table__row">
      <td class="govuk-table__cell">bodyClasses</td>
      <td class="govuk-table__cell">Add a class to the <code>&lt;body&gt;</code> element.</td>
    </tr>

    <tr class="govuk-table__row">
      <td class="govuk-table__cell">mainClasses</td>
      <td class="govuk-table__cell">Add a class to the <code>&lt;main&gt;</code> element. </td>
    </tr>
  </tbody>
</table>

#### Blocks

Blocks can be set with:

```js
{% raw %}
{% block blockName %}
  HTML Here
{% endblock %}
{% endraw %}
```

To change the components that are included by default, set their equivalent blocks, for example:

```js
{% raw %}
{% block header %}
  {{ header({
    homepageUrl: '/custom-url'
  }) }}
{% endblock %}
{% endraw %}
```

<table class="govuk-table app-table--constrained">
  <caption class="govuk-table__caption govuk-visually-hidden">Blocks that can be used with Template</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="col">Block name</th>
      <th class="govuk-table__header" scope="col">Description</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">

    <tr class="govuk-table__row">
      <td class="govuk-table__cell">headIcons</td>
      <td class="govuk-table__cell">
        Override the default icons used for GOV.UK branded pages.
        <br>
        For example: <code>&lt;link rel="shortcut icon" href="favicon.ico" type="image/x-icon" /&gt;</code>
      </td>
    </tr>

    <tr class="govuk-table__row">
      <td class="govuk-table__cell">head</td>
      <td class="govuk-table__cell">
        Add additional items inside the <code>&lt;head&gt;</code> element.
        <br>
        For example: <code>&lt;meta name="description" content="My page description"&gt;</code>
      </td>
    </tr>

    <tr class="govuk-table__row">
      <td class="govuk-table__cell">bodyStart</td>
      <td class="govuk-table__cell">
        Add content after the opening <code>&lt;body&gt;</code> element
      </td>
    </tr>

    <tr class="govuk-table__row">
      <td class="govuk-table__cell">skipLink</td>
      <td class="govuk-table__cell">
        Override the default <a class="govuk-link" href="../../components/skip-link/">Skip link</a> component.
      </td>
    </tr>

    <tr class="govuk-table__row">
      <td class="govuk-table__cell">header</td>
      <td class="govuk-table__cell">
        Override the default <a class="govuk-link" href="../../components/header/">Header</a> component.
      </td>
    </tr>

    <tr class="govuk-table__row">
      <td class="govuk-table__cell">main</td>
      <td class="govuk-table__cell">
        Override the default <code>&lt;main&gt;</code> element.
      </td>
    </tr>

    <tr class="govuk-table__row">
      <td class="govuk-table__cell">beforeContent</td>
      <td class="govuk-table__cell">
        Add content that needs to appear outside <code>&lt;main&gt;</code> element.
        <br>
        For example: The Back link component, Phase banner component.
      </td>
    </tr>

    <tr class="govuk-table__row">
      <td class="govuk-table__cell">content</td>
      <td class="govuk-table__cell">
        Add content that needs to appear centered in the <code>&lt;main&gt;</code> element.
      </td>
    </tr>

    <tr class="govuk-table__row">
      <td class="govuk-table__cell">footer</td>
      <td class="govuk-table__cell">
        Override the default <a class="govuk-link" href="../../components/footer/">Footer</a> component.
      </td>
    </tr>

    <tr class="govuk-table__row">
      <td class="govuk-table__cell">bodyEnd</td>
      <td class="govuk-table__cell">
        Add content just after just before the closing <code>&lt;/body&gt;</code> element
      </td>
    </tr>

  </tbody>
</table>

#### Exploded view of the template block areas

{{ example({group: 'styles', item: 'template', example: 'block-areas', html: false, open: false }) }}
